<section class="relative">
  <div class="container h-[640px] mx-auto flex flex-col items-center justify-center">
    <p class="text-orange-600 text-xl">Do you like cooking?</p>
    <h1 class="text-center text-6xl font-bold text-white mt-2">
      The Thatix
      <br />
      Recipe Community
    </h1>
    <label class="input input-bordered flex items-center gap-2 mt-10 max-w-md w-full">
      <input type="text" class="grow" placeholder="Find a recipe" />
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
        <path fill-rule="evenodd"
          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          clip-rule="evenodd" />
      </svg>
    </label>
    <div class="absolute inset-0 bg-black z-[-1] opacity-60"></div>
    <img ngSrc="/assets/images/hero.webp" fill class="absolute inset-0 object-cover z-[-2]" priority />
  </div>
</section>

<section class="relative">
  <div class="container mx-auto h-[80vh] flex flex-col items-center justify-center">
    <div class="grid grid-cols-2 gap-5 items-center">
      <div class="col-span-1">
        <img class="mx-auto" src="/assets/images/ingredients-side.webp" alt="Ingredients side image" />
      </div>
      <div class="col-span-1 space-y-2 max-w-xl">
        <p>Hi there,</p>
        <p class="leading-tight text-5xl font-extrabold">
          Give yourself a lifetime <br />
          of cooking confidence
        </p>
        <p>
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, words which don't look even slightly believable. If you are
          going to use a passage you need to be sure text.
        </p>
        <button class="btn btn-primary">Discover more</button>
      </div>
    </div>
    <img ngSrc="/assets/images/home-bottom.webp" fill class="absolute inset-0 object-cover z-[-2]" />
  </div>
</section>

<section class="relative bg-base-100">
  <h3 class="text-center font-bold text-5xl pattern-home py-36">
    Latest Recipes
  </h3>
  <div class="container mx-auto py-16 -mt-48">
    <div class="grid grid-cols-3 gap-5 mt-5">
      @for (item of recipes(); track item.id) {
      <div class="mx-auto">
        <app-recipe-card [recipe]="item"></app-recipe-card>
      </div>
      }
    </div>
    <div class="flex justify-center mt-5">
      <button class="btn btn-primary">View all recipes</button>
    </div>
  </div>
</section>