<div class="flex items-center justify-center h-[64px] border-b border-b-base-content">Cookbook</div>

<nav class="flex justify-center border-b">
  <ul class="flex items-center">
    <li class="px-5 py-4">
      <div class="dropdown dropdown-hover">
        <div tabindex="0" role="button" class="m-1">Home</div>
        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
          <li><a>Item 1</a></li>
          <li><a>Item 2</a></li>
        </ul>
      </div>
    </li>

    <li class="px-5 py-4">Browse recipes</li>
    <li class="px-5 py-4">Submit recipe</li>
    <li class="px-5 py-4">News</li>
    <li class="px-5 py-4">Contact</li>
  </ul>
</nav>