<footer class="relative text-white">
  <section
    class="container mx-auto h-[300px] grid lg:grid-cols-3 items-stretch"
  >
    <div
      class="flex flex-col justify-center gap-4 p-10 lg:border-r border-r-base-content"
    >
      <p class="text-xl font-bold">Subscribe</p>
      <p>
        Register and get notified about all the news & updates before it gets
        too late.
      </p>
      <form class="join w-full">
        <label
          class="join-item input input-bordered flex items-center gap-2 text-black bg-white"
          [class.input-error]="email.dirty && email.errors"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70"
          >
            <path
              d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z"
            />
            <path
              d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z"
            />
          </svg>
          <input
            type="email"
            class="grow"
            required
            placeholder="Email"
            [formControl]="email"
          />
        </label>
        <button
          type="submit"
          class="btn btn-primary join-item"
          [disabled]="isLoading()"
          (click)="submit($event)"
        >
          @if (isLoading()) {
          <span class="loading loading-spinner"></span>
          } Sign up
        </button>
      </form>
    </div>
    <div></div>
  </section>
  <img
    ngSrc="/assets/images/footer.webp"
    fill
    class="absolute inset-0 object-cover z-[-2]"
  />
</footer>
